
torch>=1.7.0
torchvision>=0.8.1
numpy==1.23.1           # otherwise issues with track eval
loguru>=0.7.0
opencv-python>=4.6.0
PyYAML>=5.3.1           # read tracker configs
pandas>=1.1.4           # export matrix
gdown>=4.7.1            # google drive model download
GitPython>=3.1.0        # track eval cloning

filterpy>=1.4.5     

streamlit-webrtc
twilio
matplotlib
ultralytics
py-cpuinfo
gtts
pydub
numpy
lap>=0.4
# git+https://github.com/mikel-brostrom/yolo_tracking.git